%h1.logo Pokedex!
/ This is a comment
%ul#pokemon-list
  - @pokemon.each do |pokemon|
    %li.pokemon
      = link_to pokemon do
        %figure.pokemon-image-container
          = image_tag pokemon.image_url, class: 'pokemon-image'

        .pokemon-metadata
          %h1= pokemon.name

        %dl
          %dt.pokemon-metadata-label Species
          %dd.pokemon-metadata-value= pokemon.species

          %dt.pokemon-metadata-label Attack
          %dd.pokemon-metadata-value= pokemon.attack

          %dt.pokemon-metadata-label Defense
          %dd.pokemon-metadata-value= pokemon.defense

          %dt.pokemon-metadata-label Speed
          %dd.pokemon-metadata-value= pokemon.speed
