<h1>New Project</h1>

<%= form_for @project do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_field :end_date %>
  </div>

  <h2>Rewards</h2>
  <%= f.fields_for :rewards, [Reward.new, Reward.new, Reward.new] do |reward_fields| %>
    <div class="field">
      <%= reward_fields.label :amount %>
      <%= reward_fields.number_field :amount %>
    </div>

    <div class="field">
      <%= reward_fields.label :description %>
      <%= reward_fields.text_area :description %>
    </div>
  <% end %>

  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
