<h2>Please sign in</h2>

<%= link_to 'Login with Github', auth_at_provider_path(provider: :github) %>

<%= form_tag '/sessions' do %>

  <div>
    <%= label_tag "Email address" %>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= label_tag "Password" %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag 'Sign me in' %>
  </div>

<% end %>
