<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <p><%= value %></p>
    <% end %>
  <% end %>

  <% if current_user %>
    <p>Logged in as <%= current_user.email %></p>
  <% end %>

<%= yield %>

</body>
</html>
